/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

main {
    padding: 20px;
    text-align: center;
}

.juegos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.juego {
    background-color: #fff;
    border: 2px solid #4682b4;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.juego img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.juego img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    font-size: 1rem;
}
